.modal-title {
    color: black;
    text-decoration: underline;
    text-decoration-color: #ff5733;
    
  }
  
  .form-label {
    color: #FF5E51;
  }
  
  .form-control {
    background-color: #f2f2f2; 
    color: #333; 
  }
  
  
  .button-close {
    background-color: #797979; 
    color: white; 
  }
  
  .button-apply {
    background-color: #FF5E51; 
    color: white; 
  }
 
  .button-apply.btn.btn-primary {
    background-color: #FF5E51;
    border-color: #FF5E51;
    color: white;
  }

  .form-control::placeholder {
    font-style: italic;
  }
  