.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    overflow: hidden;
    position: relative
}

.carousel>div {
    border: solid black 2px;
    border-radius: 20px;
}

.flip-horizontal-fwd {
    -webkit-animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

#carousel-center {
    width: 50%;
}

#carousel-left {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
    position: relative;
    left: -10%;
}

#carousel-right {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
    position: relative;
    right: -10%;
}

@-webkit-keyframes flip-horizontal-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateX(0);
        transform: translateZ(0) rotateX(0)
    }

    100% {
        -webkit-transform: translateZ(160px) rotateX(-180deg);
        transform: translateZ(160px) rotateX(-180deg)
    }
}

@keyframes flip-horizontal-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateX(0);
        transform: translateZ(0) rotateX(0)
    }

    100% {
        -webkit-transform: translateZ(160px) rotateX(-180deg);
        transform: translateZ(160px) rotateX(-180deg)
    }
}