.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel>div {
    border: solid #D9D9D9 3px;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
}

.rotate-vert-center {
    -webkit-animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.businessInfo {
    margin-top: 20px;
    margin-left: 30px;
}

.businessInfo>h3 {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

.businessInfo>p {
    margin-bottom: 0;
    margin-left: 0;
}

.cardBtns {
    /* position: absolute; */
    /* top: 90%;
    left: 5%; */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    gap: 160px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.heartMargin {
    margin-right: 10px;
}

.rating-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}

.rating-price>p {
    margin-left: 0;
}

#spinBtn {
    /* position: absolute;
    top: 80%; */
    border: 2px solid rgb(236, 54, 36);
    background-color: rgb(54, 49, 49);
    color: white;
    border-radius: 20px;
    padding: 8px 130px;
    left: 10%;
}

#spinBtn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

#carousel-center {
    position: absolute;
    width: 80%;
    /* margin-left: 10%; */
    height: 100%;
    border: solid #AAAAAA 3px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    background-color: rgb(243, 243, 243);
}

#carousel-center>img {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
}

#carousel-left {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 15%;
    height: 80%;
    position: absolute;
    left: -10%;
    overflow: hidden;
}

#carousel-left>img {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 18px 18px 0 0;
}

#carousel-left>p {
    position: relative;
    margin-bottom: 0;
    margin-right: 15px;
    width: 20px;
    left: -65%;
}

#carousel-right {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 15%;
    height: 80%;
    position: absolute;
    right: -10%;
    overflow: hidden;
}

#carousel-right>img {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 18px 18px 0 0;
}

#carousel-right>p {
    margin-bottom: 0;
    margin-left: 15px;
    width: 50%;
}

#categoriesHome {
    border: 2px solid #FF0F00;
    margin-top: 20px;
    border-radius: 15px;
    padding: 3px 15px;
    background-color: white;
}

#moreBtn {
    color: #038510;
    padding-left: 20px;
    text-decoration: none;
}

#favIcon {
    height: 30px;
    width: 30px;
}

/*once screen hits 500px wide hard set the middle carousel to 400px*/
@media screen and (min-width: 500px) {
    #carousel-center {
      /* background-color: lightgreen; */
      width: 400px;
    }
  }

/* when screen width is 500 and less make the btn padding to be 20% size*/
@media screen and (max-width: 500px) {
    #spinBtn {
        padding: 8px 20%;
    }
  }

  /*remove side carousels when screen is wider then 800*/
@media screen and (min-width: 800px) {
    #carousel-center { 
      /* background-color: rgb(205, 214, 43); */
      width: 400px;
    }
    #carousel-left  {
        display: none;
    }
    #carousel-right  {
        display: none;
    }
  }

@media screen and (max-height: 800px) {
    #carousel-center {
      background-color: lightgreen;
      /* height: 400px */
    }
  }


@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}