.carousel {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel>div {
    border: solid #D9D9D9 3px;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
}

.rotate-vert-center {
    -webkit-animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

#spinBtn {
    background-color: #EF5E54;
    padding: 10px 25px;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}

#spinBtn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

#dislikeBtn {
    border: 2px solid #EF5E54;
    color: #EF5E54;
    background-color: white;
    border-radius: 50px;
    padding: 10px 18px;
}

#dislikeBtn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

#carousel-center {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    border: solid #AAAAAA 3px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    background-color: rgb(243, 243, 243);
}

#carousel-center>img {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 18px;
    object-fit: cover;
}

#carousel-center>h3 {
    margin-top: 30px;
    margin-left: 20px;
}

#carousel-center>p {
    margin-bottom: 0;
    margin-left: 20px;
}

#carousel-left {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 15%;
    height: 80%;
    position: absolute;
    left: -10%;
    overflow: hidden;
}

#carousel-left>img {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 18px;
}

#carousel-left>p {
    position: relative;
    margin-bottom: 0;
    margin-right: 15px;
    width: 20px;
    left: -65%;
}

#carousel-right {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 15%;
    height: 80%;
    position: absolute;
    right: -10%;
    overflow: hidden;
}

#carousel-right>img {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 18px;
}

#carousel-right>p {
    margin-bottom: 0;
    margin-left: 15px;
    width: 50%;
}

#categories {
    border: 2px solid #FF0F00;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 3px 15px;
    background-color: white;
}

#moreBtn {
    color: #038510;
    margin-top: 50px;
    padding-left: 20px;
}

#favIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 50%;
}

#favIcon:active {
    fill: red;
}


@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}