.header {
    height: 60px;
    background-color: #F5F5F5;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header>h2 {
    padding-top: 15px;
    font-size: 1.4em;
}

.headerRed {
    color: #EF5E54;
}

.nav-div {
    min-height: 100vh; /* Ensure the wrapper takes at least the full viewport height */
    position: relative;
    
}
